.deskofderector{
    background-image: url(../images/banners/directors-bg.jpg);
    background-size: cover;
    background-position:center center;
    background-attachment:fixed;
}
.value-buyer {
    background: #f5fff7 url(../images/banners/buyer-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-attachment: fixed;
}
.projects-section{
    background-image: url(../images/banners/projets-bg.jpg);
    background-size: cover;
    background-position:center center;
    background-attachment:fixed;
}
.directors-section .director-item {
    background: #fff;
    padding: 20px;
    border: 1px solid #e9e9e9;
}

.directors-section .director-item .director-thumb img {
    border: 2px solid #2d883c;
    border-radius: 100%;
}
.directors-section .director-item .name {
    color: #2d883c;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 7px;
}

.directors-section .director-item p {
    color: #2f2f2f;
    margin: 0 0 7px;
    font-family: montserrat-light;
    font-size: 16px;
}
.directors-section .director-item p a {
    color: inherit;
    font-family: montserrat-light;
    text-decoration: none;
}

.directors-section .director-item p i {
    color: #4bb93e;
}
h2.section-title2 {
    color: #2d883c;
    
}

.value-buyer .buyer-item {
    text-align: center;
    background: #fff;
    border-radius: 100%;
    min-height: 280px;
    padding: 40px 20px;
    margin-left: -10px;
    margin-right: -10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
}
.north-america {
    background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(../images/banners/north-america.png) !important;
}
.north-america, .india, .europe, .australia, .japan {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 95% !important;
}
.australia, .japan, .india {
    min-height: 180px !important;
}

.australia {
    background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(../images/banners/australia.png) !important;
}
.value-buyer .buyer-item.buyer-item-europe {
    margin-top: 40px;
}
.europe {
    background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(../images/banners/europe.png) !important;
}
.value-buyer .buyer-item.buyer-item-japan {
    margin-top: 85px;
}
.japan {
    background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(../images/banners/japan.png) !important;
}

.india {
    background-image: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(../images/banners/india.png) !important;
}

.value-buyer .buyer-item .buyer-info h4 {
    color: #2d883c;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.buyer-info p {
    text-shadow: 0 1px 1px #fff !important;
    font-family: montserrat-light;
    font-size: 14px;
}
p {
    margin: 0 0 10px;
}

.col-sm-2, .col-sm-3{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.projects-section .project-item {
    border: 3px solid #fff;
    margin-bottom: 30px;
    overflow: hidden;
}
.projects-section .project-item figure {
    position: relative;
}

figure {
    max-width: 100%;
    height: auto;
    margin: 0 0;
}

.projects-section .project-item figure img {
    width: 100%;
}

img {
    max-width: 100%;
}
.projects-section .project-item figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #e7e7e7;
    display: inline-block;
    min-width: 240px;
    font-size: 16px;
    color: #0c4d7d;
    padding: 5px 15px;
    font-weight: bold;
}
.projects-section .project-item figure figcaption:after {
    content: '';
    position: absolute;
    left: calc(100% - 20px);
    top: 0;
    width: 30px;
    height: 100%;
    z-index: 1;
    background: #e7e7e7;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}

.partners-section .section-title {
    text-align: center;
    font-weight: bold;
}

.partners-section .section-title h2 {
    text-align: left;
    color: #fff;
}

.partners-section .has-border-effect {
    overflow: hidden;
}
.partners-section .has-border-effect div {
    display: inline-block;
    position: relative;
}
.partners-section .section-title h2 {
    text-align: left;
    color: #fff;
}
.partners-section .has-border-effect div:after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 15px );
    width: 1500px;
    height: 1px;
    background: #60b16d;
}
